<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>        
        <add assembly="MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="Park" connectionString="server=localhost; uid=root; password=akgec; database=directme; pooling=false; PORT=3306" providerName="MySql.Data.MySqlClient" />
    <!--<add name="TT" connectionString="server=localhost; uid=root; password=1234; database=tt14; pooling=false; PORT=3303" providerName="MySql.Data.MySqlClient" />-->
    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <!--<DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>-->
  </system.data>
  <system.webServer>
    <defaultDocument>
      <files>
                <clear />
                <add value="index.aspx" />
                <add value="leaders.html" />
                <add value="leaderboard.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
      </files>
    </defaultDocument>
        <httpRedirect enabled="false" destination="http://www.techtrishna.in/directme/" exactDestination="true" />
  </system.webServer>
</configuration>